body {
  background-image: url(../imagenes/fondo2.jpg);
  margin: 0px; }

.headcont {
  background-color: black; }

.logoM{
    margin: 10px;
}


.encabezado {
  position: fixed;
  z-index: 10; }

.titumargen {
  padding-top: 100px; }

.iconos {
  text-align: center;
  font-size: 20px;
  color: #b3b3b3; }

#h3ofrecemos {
  color: #b3b3b3;
  margin-top: 15px; }

#carouselExampleDark {
  padding: 0px;
  margin: 0px; }

.productos img {
  border-radius: 75px;
  padding: 15px; }

.marcas {
  background-color: rgba(255, 228, 196, 0.164);
  border-radius: 20px; }

.marcas img {
  padding: 5px;
  margin: 15px; }

.footdata ul li {
  list-style: none; }

.cuadrosproductos {
  background-color: white; }

.descriproductos {
  background-color: rgba(255, 255, 255, 0.61);
  color: #383030;
  text-align: center; }

h4 {
  font-size: 30px;
  color: white;
  text-align: center; }

.innerP {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 300px;
  overflow: hidden;
  height: 100%; }

.itemP {
  width: 200px; }
  .itemP img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px; }

/*amps*/
.descriproductosamp {
  background-color: rgba(255, 255, 255, 0.61);
  color: #383030;
  text-align: center;
  width: 300px;
  height: 300px;
  overflow: hidden;
  width: 100%; }
  .descriproductosamp ul li {
    list-style: none;
    text-align: left;
    font-size: 18px; }

.innerA {
  width: 300px;
  height: 300px;
  overflow: hidden;
  height: 100%;
  width: 100%; }

.itemA {
  width: 300px;
  height: 300px; }
  .itemA img {
    margin-left: 60px;
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px; }

/* Linea division */
.divider {
  /* minor cosmetics */
  display: table;
  font-size: 24px;
  text-align: center;
  width: 100%;
  /* divider width */
  margin: 40px auto;
  /* spacing above/below */ }

.divider span {
  display: table-cell;
  position: relative; }

.divider span:first-child, .divider span:last-child {
  width: 50%;
  top: 13px;
  /* adjust vertical align */
  -moz-background-size: 100% 2px;
  /* line width */
  background-size: 100% 2.5px;
  /* line width */
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat; }

.divider span:first-child {
  /* color changes in here */
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#b3b3b3));
  background-image: -webkit-linear-gradient(180deg, transparent, #b3b3b3);
  background-image: -moz-linear-gradient(180deg, transparent, #b3b3b3);
  background-image: -o-linear-gradient(180deg, transparent, #b3b3b3);
  background-image: linear-gradient(90deg, transparent, #b3b3b3); }

.divider span:nth-child(2) {
  color: #b3b3b3;
  padding: 0px 5px;
  width: auto;
  white-space: nowrap; }

.divider span:last-child {
  /* color changes in here */
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b3b3b3), to(transparent));
  background-image: -webkit-linear-gradient(180deg, #b3b3b3, transparent);
  background-image: -moz-linear-gradient(180deg, #b3b3b3, transparent);
  background-image: -o-linear-gradient(180deg, #b3b3b3, transparent);
  background-image: linear-gradient(90deg, #b3b3b3, transparent); }

/* Fin linea division */
