$colorfondo: #4c4f52;


body{
    background-color: $colorfondo;
}

.headcont {
    background-color: $colorfondo;
}

.iconos{
    text-align: center;
    font-size: 16px;
    color: black;
}

#carouselExampleDark{
    margin: 0px;
    padding: 0px;
}

.productos img{
    border-radius: 75px;
    padding: 15px;
}

.marcas{
    background-color: rgba(255, 228, 196, 0.164);
    border-radius: 20px;
}

.marcas img{
    margin: 15px;
    padding: 5px;

}

.footdata ul li{
    list-style: none;
}
