@import "colores";
@import "tamanos";


@mixin padmar ($padd,$marg){
    padding:$padd;
    margin:$marg;   
}

body{
    background-image: url(../imagenes/fondo2.jpg);
    margin: 0px;
}

.headcont {
    background-color: black;
}

.encabezado{
    position: fixed;
    z-index: 10;

}
.titumargen{
    padding-top: 100px;
}

.iconos{
    text-align: center;
    font-size: 16px;
    color: $whitesuave;
}

#carouselExampleDark{
    @include padmar(0px,0px)
}

.productos img{
    border-radius: 75px;
    padding: 15px;
}

.marcas{
    background-color: $colorfondosecundario;
    border-radius: 20px;
}

.marcas img{
    @include padmar(5px,15px )

}

.footdata ul li{
    // display: inline;
    list-style: none;
}


.cuadrosproductos{
    background-color: white ;
}
.descriproductos{
    background-color: rgba(255, 255, 255, 0.61);
    color: rgb(56, 48, 48);
    text-align: center;
}



h4 {
    font-size: 30px;
    color: white;
    text-align: center;
}
    

// Carousel productos//
.innerP{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
    overflow: hidden;
    height: 100%;
}

.itemP{
    width: 200px;
    img{
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: 10px;
    }
}


/*amps*/
.innerA{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
    height: 500px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.itemA{
    width: 400px;
    height: 400px;
    img{
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: 10px;
        
//fin carousel productos//