$colorfondo: #4c4f52;
$h1internos: 35px;
$colorfondosecundario: rgba(255, 228, 196, 0.164);

body{
    background-color: $colorfondo;
}

.headcont {
    background-color: $colorfondo;
}

.iconos{
    text-align: center;
    font-size: 16px;
    color: black;
}

#carouselExampleDark{
    margin: 0px;
    padding: 0px;
}

.productos img{
    border-radius: 75px;
    padding: 15px;
}

.marcas{
    background-color: $colorfondosecundario;
    border-radius: 20px;
}

.marcas img{
    margin: 15px;
    padding: 5px;

}

.footdata ul li{
    list-style: none;
}


.prodh1{
    font-size: $h1internos;
    display: flex;
    justify-content: center;
    }

.cuadrosproductor{
    background-color: white;
}

.descripcionproductos{
    display: flexbox;
    justify-content: center;

}

    
h4 {
    font-size: 25px;
}
    

.innerP{
    position: relative;
    width: 250px;
    overflow: hidden;
    height: 100%;
}

.itemP{
    position: relative;

    width: 200px;
    img{
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: 10px;
    }
}